<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_dET-eoD2J37YzvYUndiSx6jjDD88Pvk</string>
	<key>GCM_SENDER_ID</key>
	<string>435164805319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Riley-Jenum.NightNotes</string>
	<key>PROJECT_ID</key>
	<string>nightnotes-1cca0</string>
	<key>STORAGE_BUCKET</key>
	<string>nightnotes-1cca0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435164805319:ios:c534b9554f07ebd0b866e2</string>
</dict>
</plist>